html body {
    font-family: 'Open Sans', sans-serif;
}

#menu-hotel a,
.base-title,
.title1,
.title2,
.title3,
.title4 {
    font-family: 'Times New Roman', sans-serif;
}

.page-id-1150 .solid_box.big-content {
    background: #fff;
    opacity: 0.9;
}

.page-id-1150 .solid_box.big-content .title3 {
    color: #93181b;
    font-size: 30px;
}

.page-id-1460 .blog_box.f_left { display: none; }

.page-id-1460 #secondary {
    width: 100%;
    float: left;
}

.page-id-1460 .solid_box .widget-area .widget {
    padding-top: 50px;
    padding-right: 0;
}

.page-id-1460 .solid_box:after {
    position: static;
}

.base-title {
    color: #93181b;
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
}

.quote, blockquote {
    background-color: #d1b16e;
    color: #000;
    font-size: 14px;
}


.widget-area .testimonials .controls a, .widget-area #searchform .sub_wrap:after, .widget-area .widget_feedburner .sub_wrap:after, .widget-area .widget_calendar #prev a, .widget-area .widget_calendar #next a, .widget-area #searchform .sub_wrap:after, .widget-area .widget_feedburner .sub_wrap:after, .widget-area .sub_wrap:after, .widget-area .sub_wrap:after, #searchform input[type="submit"]:hover, .widget_search input[type="submit"]:hover {
    background-color: #d1b16e!important;
}

.widget-area .testimonials .controls a:hover {
    background-color: #f1c465!important;
}

.quote:after, blockquote:after {
    background: url('../images/quote_after1.png') 0 0 no-repeat;
}

.widget-area .testimonial_meta .testimonial_author {
    color: #93181b;
    font-weight: bold;
    font-size: 13px;
}

.page-id-1460 .solid_box { background-color: #fff!important; opacity: 0.8;}

.inner .blog_box .title3 {
    color: #93181b!important;
}

.solid_box .inner {
    background: #fff;
}